{% extends 'base.html' %}

{% block title %} 
Register Product
{% endblock %}

{% block content %}
<div class="jumbotron text-white mx-auto" style="background-color: #212121; max-width: 600px;">
    <img class="mb-4 mx-auto d-block rounded-circle" src="static/brand.jpg" alt="" style="height: 250px;">        
            <h1 class="h3 mb-3 font-weight-normal text-center">
  <h1 class="text-center mt-4">Register a New Product</h1>
  <form method="POST" class="mt-4">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.price.label }}
      {{ form.price(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.barcode.label }}
      {{ form.barcode(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.description.label }}
      {{ form.description(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>
{% endblock %}
